<!--https://github.com/WebFactoryMk/ng2-canvas-whiteboard-->
<div style="height: 400px">
    <canvas-whiteboard #canvasWhiteboard
                       [drawButtonClass]="'drawButtonClass'"
                       [drawButtonText]="'Draw'"
                       [clearButtonClass]="'clearButtonClass'"
                       [clearButtonText]="'Clear'"
                       [undoButtonText]="'Undo'"
                       [undoButtonEnabled]="true"
                       [redoButtonText]="'Redo'"
                       [redoButtonEnabled]="true"
                       [colorPickerEnabled]="true"
                       [saveDataButtonEnabled]="true"
                       [saveDataButtonText]="'Save'"
                       [downloadedFileName]="'examplefileName'"
                       (onBatchUpdate)="sendBatchUpdate($event)"
                       (onClear)="onCanvasClear()"
                       (onUndo)="onCanvasUndo($event)"
                       (onRedo)="onCanvasRedo($event)">
    </canvas-whiteboard>
</div>
